<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Main</title>
</head>
<body>



<table  class="table" >
    <tbody>
    <td th:text="${account.username()}" th:align="right"></td>
    </tbody>
</table>

<br/>


<form action="/identity/graph/me">
    <input type="submit" value="Show User Info" class="btn btn-info">
</form>

<span th:if="${ userInfo != null}">
    <h3> User Details:</h3>


<span>
<table border="1" class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>User Role</th>
        <th>Email</th>
        <th>User Account</th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${displayName}"></td>
    <td th:text="${jobTitle}"></td>
    <td th:text="${mail}"></td>
    <td th:text="${userPrincipalName}"></td>

    </tbody>
</table>
</span>
    </span>
<br>
 <form action="/client_api">
    <input type="submit" value="Call Api" class="btn btn-primary">
</form>

<span th:if="${client_api_call_res != null}">
    <h1> Api call:</h1>

    <div  th:utext="${client_api_call_res}"></div>
</span>

<form action="/identity/sign_out">
    <input type="submit" value="Sign out" class="btn btn-danger">
</form>
<br>
<br>

</body>
</html>